#drop-area {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 75%;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    max-width: 600px;
}

#drop-area.highlight {
    border-color: purple;
}

p {
    margin-top: 0;
    text-align: center;
}


h1,
h2,
h3 {
    text-align: center;
}


.my-form {
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin: 0 auto;
    display: block;
    text-align: center;
}


.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

select {
    text-align: center;
    margin: 0 auto;
    display: block;
    width: 50%;
    max-width: 300px;
}

/* testing for the preview box */
label {
    cursor: pointer;
}

textarea {
    margin: 0 auto;
    display: block;
    min-width: 22rem;
    min-height: 12rem;
    margin: 0 auto;
    display: block;
    padding: 20px;
}
