html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  scroll-behavior: smooth;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #004890;
  color: white;
  padding: 0.5em;
  margin: 0 auto;
  text-align: center;
  z-index: 100;
}
body {
  color: black;
  font-size: 16px;
  line-height: 1.5;
  font-family: "edwin", Georgia, serif;
  padding: 1em;
  margin: auto;
  max-width: 42em;
  background: white;
  text-align: center;
  /* text-justify: inter-word; */
  padding-bottom: 50px;
}
.button{
  background: #004890;
  font-family: "edwin", Georgia, serif;
  color: white;
  padding: 0.5em;
  margin: 0 0 1em;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  width: auto;
  font-size: 1.2em;
}
a {
  color: #004890;
  text-decoration: none;
}
::-moz-selection {
  background: #FFB636;
}
::selection {
  background: #FFB636;
}
a::-moz-selection {
  background: #FFB636;
}
a::selection {
  background: #FFB636;
}
p {
  margin: 1em 0;
}
img {
  max-width: 95%;
  height: auto;
  display: block;
  margin:auto;
  }
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  line-height: 125%;
  font-family: "edwin", Georgia, serif;
  margin-top: 1em;
  font-weight: 400;
  text-align: center;
}
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.2em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.9em;
}
b,
strong {
  font-weight: 700;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
@media only screen and (min-width: 480px) {
  body {
    font-size: 16px;
  }
  h1{
    font-size: 2.25em;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 20px;
  }
  h1{
    font-size: 2.5em;
  }
}


.links{
	 scroll-margin-top: 4.2rem;
 }


/*for the gallery*/

* {
  box-sizing: border-box;
}
.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 300px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*for the back to top button*/
.top {
  --offset: 50px;
  position: sticky;
  bottom: 20px;
  margin-right: -70%;
  place-self: end;
  margin-top: calc(100vh + var(--offset));

  /* visual styling */
  text-decoration: none;
  padding: 10px;
  font-family: Georgia, serif;
  background: #004890;
  color: #fff;
  border-radius: 100px;
  white-space: nowrap;
}


/*to make the fallen eagles photos b&w*/
img.desaturate {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  z-index: -1;
}

